<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>studentForm</title>
</head>
<body>

    <form action="http://localhost:5000/result" method="POST">
        <p>Name <input type="text" name="Name"/></p>
        <p>Python <input type="text" name="py"/></p>
        <p>javascript<input type="text" name="js"/></p>
        <p>PHP <input type="text" name="php"/></p>
        <p>Versioning <input type="text" name="git"/></p>
        <p><input type="submit" value="submit"/></p>
    </form>

</body>
</html>